@{
    ViewData["Title"] = "Ваш заказ принят";
}

<div class="container">
    <div class="row">
            <h2>Ваш заказ под номером @ViewBag.OrderId принят и в скором времени будет обработан</h2>
    </div>
</div>
